.svg-container {
    width: 100%;
    text-align: center;
}

.svg-icon {
    width: 100%;
    height: 2px;
}

.line-bg {
    background-image: url('../images/headingBottom.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(1);
}