.mobile-app-links {
    padding-bottom: 30px;
}

.app-store-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.app-store-button {
    width: 180px;
    height: auto;
}

.google-play-button {
    width: 210px;
    height: auto;
}

.social-media-section {
    padding-bottom: 20px;
}
