.modal-dialog {
    width: 90%;
}

.modal-toggle {
    background-color: #fff;
    border: 2px solid #6c757d;
    color: #6c757d;
}

    .modal-toggle:hover {
        background-color: #6c757d;
        border: 2px solid #6c757d;
        color: #fff;
    }