

.innerHeader { background:url(../images/headerBg.png) no-repeat top center; padding-top:14px; position:relative; }

.nav { background:url(../images/navBg.png) no-repeat top center; height:60px; margin-top:0px; margin-left:0px; }

